{% extends "layout.html" %}
{% block content %}

<div class="container">
  
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>
      OnePlus X (onyx)
    </h1>
    <p>
      This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
    </p>
    <p>
      To see the difference between static and fixed top navbars, just scroll.
    </p>
    <p>
      <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">
        View navbar docs &raquo;
      </a>
    </p>
  </div>
  
  <div class="row">
    <h3 class="demo-panel-title">
      Progress
      </h3>
      <div class="progress">
        <div class="progress-bar" style="width: 0%;">
        </div>
        <div class="progress-bar progress-bar-warning" style="width: 0%;">
        </div>
        
        <div class="progress-bar progress-bar-success" style="width: 90%;">
        </div>
        <div class="progress-bar progress-bar-danger" style="width: 5%;">
        </div>
        <div class="progress-bar progress-bar-info" style="width: 5%;">
        </div>
      </div>
      <div class="col-xs-5">
    
        <br/>
        <div class="pallete-item">
          <dl class="palette palette-emerald">
            <dt>
              Display
            </dt>
          </dl>
          
          <dl class="palette palette-emerald">
            <dt>
              Touch
            </dt>
          </dl>
          
          <dl class="palette palette-emerald">
            <dt>
              Audio
            </dt>
          </dl>
          <dl class="palette palette-emerald">
            <dt>
              LED
            </dt>
          </dl>
          <dl class="palette palette-emerald">
            <dt>
              Bluetooth
            </dt>
          </dl>
          <dl class="palette palette-emerald">
            <dt>
              GSM
            </dt>
            <dd>
              ALL
            </dd>
          </dl>
          <dl class="palette palette-emerald">
            <dt>
              WLAN
            </dt>
            <dd>
              ALL
            </dd>
          </dl>
          <dl class="palette palette-emerald">
            <dt>
              GPS
            </dt>
          </dl>
          <dl class="palette palette-emerald">
            <dt>
              Sensors
            </dt>
            <dd>
              ALL
            </dd>
          </dl>
          <dl class="palette palette-emerald">
            <dt>
              Keys
            </dt>
            <dd>
              Vol+/-
            </dd>
          </dl>
          <dl class="palette palette-emerald">
            <dt>
              Vibra
            </dt>
          </dl>
          <dl class="palette palette-emerald">
            <dt>
              Haptics
            </dt>
          </dl>
          <dl class="palette palette-emerald">
            <dt>
              Power Mgmt.
            </dt>
          </dl>
          <dl class="palette palette-emerald">
            <dt>
              RTC alarms
            </dt>
          </dl>
          <dl class="palette palette-emerald">
            <dt>
              USB
            </dt>
            <dd>
              ALL
            </dd>
          </dl>
          <dl class="palette palette-emerald">
            <dt>
              FM Radio
            </dt>
          </dl>
          
        </div>
        <div class="pallete-item">
          <dl class="palette palette-alizarin">
            <dt>
              Camera
            </dt>
          </dl>
          <dl class="palette palette-concrete">
            <dt>
              NFC
            </dt>
          </dl>
          <dl class="palette palette-concrete">
            <dt>
              Keys
            </dt>
            <dd>
              Home
            </dd>
          </dl>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-6">
          <video class="video-js" preload="auto" poster="docs/assets/img/video/poster.jpg" data-setup="{}">
            <source src="http://iurevych.github.com/Flat-UI-videos/big_buck_bunny.mp4" type="video/mp4">
            <source src="http://iurevych.github.com/Flat-UI-videos/big_buck_bunny.webm" type="video/webm">
          </video>
          <div class="jumbotron">
            <h1>
              General Notes
            </h1>
            <p>
              This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
            </p>
            <p>
              To see the difference between static and fixed top navbars, just scroll.
            </p>
            <p>
              <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">
                View navbar docs &raquo;
              </a>
            </p>
          </div>
          
        </div>
        <!-- /video -->
        
      </div>
      <!-- /row -->
      
  </div>
  <!-- /container -->
</div>
</div>
{% endblock %}