{% extends "layout.html" %}
{% block content %}




<div class="container">
  
  
  <div class="row">
  
    
    <div class="col-xs-12">

      <div class="row">
      
      

  

        {% for i in posts %}
        <div class="col-xs-12">
          <dl class='palette palette-green-sea post_info'>
            
            <dd>
              
                {{i.user}}
           
              {% if i.updated_on %} 
              <i class='navbar-right'>
                Updated on {{i.updated_on.strftime('%Y/%m/%d | %H:%M:%S')}}<br>Created on {{i.created_on.strftime('%Y/%m/%d | %H:%M:%S')}}
              </i>
              
              {% else%}
              <i class='navbar-right'>
                Created on {{i.created_on.strftime('%Y/%m/%d | %H:%M:%S')}}
              </i>
              {% endif %}
            </dd>
            <dd id="{{i.title.replace(' ', '%20')}}" href="#{{i.title.replace(' ', '%20')}}"><b>Title:</b> <a href="{{url_for('private_post', post_id=i._id)}}">{{ i.title }}</a></dd>
          </dl>
          
          <dl class="post-class">
              
          <br>
            <dt>
              {{ i.entry|markdown }}

            
            
            </dt>
               {% for y in i.tags %}
               
                    <a href="{{url_for('by_tag', tag=y)}}" class="btn tag_btn">{{y}}</a>
                {% endfor %}
          </dl>

          <div id='discourse-comments'></div>


          <br>
       
        </div>

      

      </div>
    </div>
    <!-- /swatches items -->
  </div>
  
  <br>
  <br>
  <div class="center_stage">
  <!-- /swatches row -->
  <a href=" http://s.sailors.io{{url_for('private_post', post_id=i._id)}}">Link</a>
 
   </div>
 
</div>

  {% endfor %}

{% endblock %}


